.custom-textfield-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    gap: 0px 10px;
    position: relative;
}
.custom-textfield>*{
   margin: 8px 0px 0px 0px!important;
}
.add-textfield-btn{
    position: absolute;
    left:300px;
    bottom: 245px;
    color: rgb(19, 51, 124)!important;
}

@media screen and (max-width:768px) {
    .add-textfield-btn{
        left:155px;
        bottom:270px
    }
}